#header {   
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;  
  text-align: center;   
}

#subheader {  
    
}

#content {
    
}

#sidebar { 
  padding: 10px;  
}

#main {
  padding: 10px;
}

.product-img {
  display: block;
  padding: 10px;  
  width: 220px;
  height: 240px;
}