<h3>Categories</h3>
<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a {% if not category %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'central_supplies:product-list' %}" >All</a>
  </li>
  {% for c in categories %}
    <li class="nav-item">
      <a {% if category.slug == c.slug %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{{ c.get_absolute_url }}" >{{ c.name|capfirst }}</a>
    </li>
  {% endfor %}    
</ul>
<hr>