{% extends 'central_supplies/base.html' %}
{% load static %}

{% block title %}
  Central Supplies | {{ title }}
{% endblock %}

{% block header %}
  {% include 'central_supplies/includes/header.html' %}
{% endblock %}

{% block content %}
<div class="row p-2">
  <div class="product-detail col-lg-9">
    <h2>{{ title }}</h2>
    <div class="row">
      <div class="col-lg-4">
        <img src="{% if product.image %}
                  {{ product.image.url }}
                {% else %}
                  {% static "img/no_image.jpeg" %}
                {% endif %}" class="img-thumbnail" alt="Product Image">
      </div>
      <div class="col-lg-8 social-container">
        <h1>{{ product.name|capfirst }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category|capfirst }}</a></h2>
        <strong class="price">${{ product.price }}</strong>
        <form action="{% url 'cart:cart-add' product.id %}" method="post">
          {{ cart_product_form.as_table }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-block mb-4">Add to cart</button>
        </form>
        {{ product.description|linebreaks }}
      </div>
    </div>
  </div>
  {% include "central_supplies/includes/sidebar.html" %}
</div>
{% endblock %}

