{% extends 'central_supplies/base.html' %}
{% load static %}

{% block title %}
  {% if category %}
    Central Supplies | {{ category.name }}
  {% else %}
    Central Supplies | {{ title }}
  {% endif %}
{% endblock %}

{% block header %}
  {% include 'central_supplies/includes/header.html' %}
{% endblock %}

{% block content %}  
    
<div class="row p-2">
  <div id="main" class="product-list col-md-9">
    <h2>
      {% if category %}{{ category.name|capfirst }}{% else %}All {{ title }}
      {% endif %}
    </h2>
    <div class="row">
      {% for product in products %}     
        <div class="col-md-3 p-2">
          <div class="card">
            <a href="{{ product.get_absolute_url }}"><img
               src="{% if product.image %}
                      {{ product.image.url }}
                    {%else %}
                      {% static "img/no_image.jpeg" %}
                    {% endif %}"
               class="card-img-top"
               alt="Product image"
            /></a>
            <div class="card-body">
              <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name|capfirst }}</a></h5>
              <p class="card-text">
                {{ product.description }}
              </p>
              <strong>${{ product.price }}</strong>
              <form action="{% url 'cart:cart-add' product.id %}" method="post">
                {{ cart_product_form.as_table }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block mb-4">Add to cart</button>
              </form>
            </div>
          </div>
        </div>        
      {% endfor %}
    </div>    
  </div>
  {% include "central_supplies/includes/sidebar.html" %}
</div>
{% endblock %}

